




/* 自定义侧边栏 */
@media (min-width: 1440px) {
    .VPDoc:not(.has-sidebar) .container {
        max-width: 1100px !important;
    }
}

@media (min-width: 960px) {
    .VPDoc:not(.has-sidebar) .container {
        display: flex;
        justify-content: space-between;
        max-width: 992px;
    }
}

@media (min-width: 960px) {
    .VPFeatures[data-v-f5090ebe] {
        padding: 0 64px;
        padding-top: 60px;
    }
}

/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
}

.aside-container {
    width: 250px !important;
}

.aside {
    max-width: 310px !important;
}